html, body {margin: 0; height: 100%; overflow: hidden}

#smallHead {
  text-align: center;
  font-size: 25px;
  font-weight: 590;
  }

#countdown {
  font-family: Genome;
  color: #C5B358;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

#navigation {
  font-family: Genome;
  font-stretch: expanded;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  position: relative;
  top: -100px;
}

@font-face { font-family: Scriptina; src: url('SCRIPTIN.ttf'); } 
@font-face { font-family: Genome; src: url('Genome.otf'); }

h1 {
  text-align: center;
  font-family: Scriptina;
  font-weight: 520;
  font-size: 90px;
  position: relative; 
  top: -80px;
}

h2 {
  text-align: center;
  color: #C5B358;
  font-family: Genome;
  font-size: 70px;
  font-weight: 590;
  position: relative; 
  top: -90px;
}

p {
  text-align: center;
  font-family: Genome;
}

a:link, a:visited {
  background-color: white;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
